<div class="row">
    <div class="col-6">
       <app-doughnut header="Sales 1" [labels]="labels1" [data]="data1"></app-doughnut>
    </div>
    <div class="col-6">
        <app-doughnut header="Front" [labels]="labels2" [data]="data2"></app-doughnut>
     </div>
</div>
<div class="row">
    <div class="col-6">
       <app-doughnut header="Back" [labels]="labels1" [data]="data1"></app-doughnut>
    </div>
    <div class="col-6">
        <app-doughnut [labels]="labels2" [data]="data2"></app-doughnut>
     </div>
</div>